{% extends "layout.html" %}
{% block title %}
  Free Bird
{% endblock  %}

{% block content %}
  <h1 class="text-center text-white mt-4">Welcome to Free Bird Django Project</h1>
  <h2> 
    {% if form.instance.pk %} Edit Tweet 
    {% else %} Create Tweet 
    {%endif%}

  </h2>
  <form action="post" enctype="multipart/form-data" class="form">
    {{form.as_p}}
    <button class="btn btn-warning" type="Submit">Submit</button>
    <a href="{% url 'tweet_list'%}">Back to Tweet</a>
  </form>

{% endblock content %}